@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 100 to 900 */
/* .montserrat-<uniquifier> {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  } */

:root {
  --c-primary: #4b78e5;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--c-bg);
  color: var(--c-white);
  font-size: 1.25rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

button {
  transition-duration: 0.2s;
}

button:hover,
button:focus {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  /* border-radius: 1rem; */
  transition: all 0.2s;
}

#app {
  width: 100%;
  height: 100%;
}

.mainDiv {
  max-width: 80%;
  /* background-color: aquamarine; */
}

.logo {
  width: 5.625rem;
  height: auto;
}

.logo img {
  width: 5.625rem;
  height: auto;
  object-fit: cover;
}

.cmn-btn {
  border-radius: 0.688rem;
  height: 3.6rem;
  padding: 0 1.5rem;
  border: none;
  font-weight: 600;
  background-color: transparent;
}

.cmn-nav-hldr {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.cmn-navul > li {
  margin: 0 1.5rem;
}

.cmn-navul > li a {
  color: #000;
}

.hm-ulogin-btn button {
  background-color: var(--c-primary);
  color: #fff;
}

/* -------------------------
      home section
  ---------------------------- */
.home-bg {
  background-position: 98% 100%, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 45%, 100% auto;
  z-index: 0;
  height: 100%;
  width: 100%;
  /* background-image: url(../images/hm_hero-img.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 40% auto; */
}

.hm-hero-desc {
  position: absolute;
  width: 56rem;
  /* left: 5.5%; */
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hm-hero-desc h1 {
  font-size: 2.813rem;
  font-weight: 800;
  color: var(--c-h1);
}

.hm-hero-desc h1 span {
  color: var(--c-h1span);
}

.hm-hero-desc p {
  /* width: 75%; */
  font-size: 1.5rem;
}

.hero-btnhldr > button {
  font-weight: 800;
  height: 4rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.hero-btnhldr > button:first-child {
  background-color: var(--c-primary);
  color: #fff;
}

.hero-btnhldr > button:nth-child(2) {
  color: black;
  border: 1px solid var(--c-primary);
}

/* inner section */
.page-back-btn {
  position: absolute;
  left: -3rem;
  top: 0.3rem;
}

.page-back-btn button {
  width: 2rem;
  height: 2rem;
  background-color: #c8deff;
  color: #003b94;
  border-radius: 100px;
  border: none;
}

.page-back-btn button i::before {
  font-weight: 800 !important;
  font-size: 1rem;
}

.ss-inr-hero {
  margin-left: 2.5rem;
}

.ss-inr-hero h2 {
  font-size: 2.875rem;
  font-weight: 800;
  color: var(--c-primary);
}

.ss-inr-hero h2 span {
  font-weight: 600;
  color: #000;
}

.ss-inr-hero h3 {
  font-size: 2.125rem;
  font-weight: 400;
}

.ss-inr-hero p {
  font-size: 1.25rem;
}

.frm-hldr {
  padding-top: 2.5rem;
}

.frm-fild {
  margin-bottom: 2rem;
}

.frm-fild label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.frm-fild input[type="text"],
.frm-fild input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.2rem 0.5rem;
}

.frm-hldr button {
  width: 100%;
  background-color: var(--c-primary);
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.frm-hldr a {
  color: var(--c-primary);
  font-size: 0.9rem;
}

/* carousel */
.ss-carosel {
}

.ss-carosel .carousel-indicators button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100px;
  border: none;
  background-color: #c8deff !important;
}

.ss-carosel .carousel-indicators button.active {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #003b94 !important;
}

.ss-navbtn-hldr {
  display: flex;
  justify-content: end;
}

.ss-navbtn-hldr button {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100px;
  margin-left: 0.8rem;
  position: static;
  background-color: #e6e6e6;
}

.ss-navbtn-hldr .carousel-control-prev-icon,
.ss-navbtn-hldr .carousel-control-next-icon {
  background-size: 1rem;
}

.ss-carosel .carousel-item {
  height: 38rem;
}

.ss-carosel .carousel-inner img {
  height: 25rem;
  object-fit: contain;
}

.ss-carosel .carousel-caption {
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1rem;
}

.ss-carosel .carousel-indicators {
  align-items: center;
}

/* upload page */
.ss-inr-upload {
}

.ss-inr-upload h4 {
  font-size: 1.563rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.upld-boxhldr {
  height: 20.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.188rem dashed #000;
  border-radius: 0.625rem;
}

.upld-boxhldr .img-hldr {
  width: 10.625rem;
}

.upld-boxhldr .img-hldr img {
  width: 10.625rem;
  height: auto;
  object-fit: contain;
}

.ss-dvhldr img {
  width: 6.5rem;
  height: auto;
  object-fit: contain;
}

.ss-hrblk hr {
  width: 100%;
  height: 0rem;
  border-top: 0.188rem solid #000 !important;
  margin: 0 3rem;
}

.temp-upld-hldr > div {
  border: 0.125rem solid #000;
  border-radius: 1.25rem;
  font-size: 1.563rem;
  font-weight: 600;
  color: #000000;
}

.temp-upld-hldr > div input[type="radio"] {
  width: 1rem;
  height: 1rem;
}

.temp-upld-hldr > div:hover,
.temp-upld-hldr > div:focus {
  border-color: var(--c-primary);
}

.temp-upld-hldr img {
  height: 4.188rem;
  width: auto;
  object-fit: contain;
}

.temp-upld-hldr p {
  color: #adadad;
}

.upld-btnpage button:first-child {
  border: 1px solid var(--c-primary);
  margin-right: 1.2rem;
}

.upld-btnpage button:nth-child(2) {
  background-color: var(--c-primary);
  color: #fff;
}

.ss-upld-list > div {
  height: 3.25rem;
  border: 1px solid #707070;
  border-radius: 0.438rem;
  padding: 1rem;
  align-items: center;
}

.ss-upld-list > div * {
  margin-bottom: 0;
}

.ss-upld-list > div img {
  height: 1.563rem;
  object-fit: contain;
  margin-right: 1rem;
}

.ss-upld-list > div p {
  font-size: 1.063rem;
  font-weight: 600;
}

.ss-upld-list > div p:nth-child(2) {
  width: 30%;
  margin-right: 1rem;
}

.ss-upld-list > div p:nth-child(3) {
  width: 8rem;
  margin-right: 1rem;
}

.ss-upld-list > div p:nth-child(4) {
  width: 20rem;
  margin-right: 1rem;
}

.ss-upld-list > div button:nth-child(5) {
  width: 2rem;
  height: 2rem;
  color: red;
  border: none;
  background-color: transparent;
}

.ss-upld-list > div button:nth-child(5) i:before {
  font-size: 2rem;
}
.ss-filelisthldr h3 {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--c-primary);
  margin-bottom: 1rem;
}

/* ==============================
  ===== media style 
  ==================================*/
@media all and (max-width: 1366px) {
  html {
    font-size: 10px;
  }
}

@media all and (min-width: 1366.5px) {
  html {
    font-size: 16px;
  }

  .mainDiv {
    /* width: 80%; */
    max-width: 1512px;
    margin: 0 auto;
    position: relative;
  }
}

/* Loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Loader */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* Keyframe animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* don't write below the media section */
